@{
    ViewData["Title"] = "Home Page";
}
<link href = "~/css/StyleSheet.css" rel="stylesheet" />
<style>
   table,td{
        position:relative;
        height:50px;
        border: 1px solid black !important;
        padding:0 !important;
    }
    th{
         border: 1px solid black !important;
    }
    .fst{
        background-color: pink;
        height:100%;
        width:100%; 
        position:absolute;
    }
    div{
        padding:12px;
    }
</style>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>abcd</th>
            <th>abcd</th>
            <th>abcd</th>
            <th>abcd</th>
            <th>abcd</th>
            <th>abcd</th>
            <th>abcd</th>
            <th>abcd</th>
        </tr> 
    </thead>
   
  <tbody>
        <tr>
        <td><div class="fst">abcd</div></td>
        <td><div class="fst">abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        
    </tr><tr>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
    </tr><tr>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
    </tr><tr>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
    </tr><tr>
       <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
    </tr><tr>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
    </tr><tr>
       <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
    </tr><tr>
       <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
    </tr><tr>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
    </tr><tr>
       <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
    </tr><tr>
       <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
        <td><div>abcd</div></td>
    </tr>
  </tbody>

</table>
